## Importamos librer√≠as necesarias

In [58]:
import pandas as pd
import sys

pd.set_option("display.max_columns", None)
sys.path.append("../")

## Primer dataset

In [59]:
dfResultados = pd.read_csv("../data/process/resultados.csv")
dfResultados.head()

,Unnamed: 0,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Pts_1,Pts_2,Odd_1,Odd_2,Score
0,0,Australian Hardcourt Championships,03/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,Dosedel S.,63,77,-1,-1,-1.0,-1.0,6-4 6-2
1,1,Australian Hardcourt Championships,03/01/2000,International,Outdoor,Hard,1st Round,3,Clement A.,Enqvist T.,Enqvist T.,56,5,-1,-1,-1.0,-1.0,3-6 3-6
2,2,Australian Hardcourt Championships,03/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,Baccanello P.,Escude N.,40,655,-1,-1,-1.0,-1.0,6-7 7-5 6-3
3,3,Australian Hardcourt Championships,03/01/2000,International,Outdoor,Hard,1st Round,3,Knippschild J.,Federer R.,Federer R.,87,65,-1,-1,-1.0,-1.0,1-6 4-6
4,4,Australian Hardcourt Championships,03/01/2000,International,Outdoor,Hard,1st Round,3,Fromberg R.,Woodbridge T.,Fromberg R.,81,198,-1,-1,-1.0,-1.0,7-6 5-7 6-4

Eliminamos las columnas que no vamos a utilizar y convertimos el campo "Date" a tipo Date para un mejor tratamiento

In [60]:
#Eliminamos las columnas que no vamos a utilizar
dfResultados.drop(["Odd_1", "Odd_2", "Pts_1", "Pts_2", "Unnamed: 0"], axis=1, inplace=True)

#Convertimos el campo "Date" a tipo Date para un mejor tratamiento
dfResultados['Date'] = pd.to_datetime(dfResultados['Date'], format='%d/%m/%Y')
dfResultados.head()

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Score
0,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,Ljubicic I.,Dosedel S.,63,77,6-4 6-2
1,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Clement A.,Enqvist T.,Enqvist T.,56,5,3-6 3-6
2,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,Baccanello P.,Escude N.,40,655,6-7 7-5 6-3
3,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Knippschild J.,Federer R.,Federer R.,87,65,1-6 4-6
4,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,Woodbridge T.,Fromberg R.,81,198,7-6 5-7 6-4

Nos quedamos con los resultados de este a√±o para hacer un an√°lisis m√°s personalizados

In [61]:
df2023 = dfResultados[dfResultados["Date"].dt.year == 2023].reset_index()
df2023.head()

,index,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Score
0,58955,Adelaide International 1,2023-01-01,ATP250,Outdoor,Hard,1st Round,3,Gasquet R.,Giron M.,Giron M.,68,61,6-7 7-6 5-7
1,58956,Adelaide International 1,2023-01-02,ATP250,Outdoor,Hard,1st Round,3,Kecmanovic M.,O Connell C.,Kecmanovic M.,29,78,6-4 6-4
2,58957,Adelaide International 1,2023-01-02,ATP250,Outdoor,Hard,1st Round,3,Rune H.,Nishioka Y.,Nishioka Y.,11,36,6-2 4-6 4-6
3,58958,Adelaide International 1,2023-01-02,ATP250,Outdoor,Hard,1st Round,3,Popyrin A.,Auger-Aliassime F.,Popyrin A.,120,6,6-4 7-6
4,58959,Adelaide International 1,2023-01-02,ATP250,Outdoor,Hard,1st Round,3,Thompson J.,Halys Q.,Halys Q.,84,64,3-6 4-6

Filtramos por los principales tipos de torneos del circuito ATP (Grand Slam, Masters Cup y Masters 1000).

A√±adimos tambi√©n la columna Sets_Played (que contiene el n√∫mero de sets jugados por partido), y Tie_Breaks (que contiene el n√∫mero de Tie Breaks jugados por partido)

In [62]:
torneos = ['Grand Slam', "Masters Cup", 'Masters 1000']
df_torneos = df2023[df2023["Series"].isin(torneos)]

df_torneos["Sets_Played"] = df_torneos["Score"].str.count("-")
df_torneos["Tie_Breaks"] = df_torneos["Score"].str.count("7-6") + df_torneos["Score"].str.count("6-7")
df_torneos.set_index("index", inplace=True)
df_torneos.head()

C:\Users\jaime\AppData\Local\Temp\ipykernel_4024\1898467528.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_torneos["Sets_Played"] = df_torneos["Score"].str.count("-")
C:\Users\jaime\AppData\Local\Temp\ipykernel_4024\1898467528.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_torneos["Tie_Breaks"] = df_torneos["Score"].str.count("7-6") + df_torneos["Score"].str.count("6-7")

,Tournament,Date,Series,Court,Surface,Round,Best of,Player_1,Player_2,Winner,Rank_1,Rank_2,Score,Sets_Played,Tie_Breaks
index,,,,,,,,,,,,,,,
59060,Australian Open,2023-01-16,Grand Slam,Outdoor,Hard,1st Round,5,Moutet C.,Wu Y.,Moutet C.,62,114,6-4 5-7 6-2 4-6 7-5,5,0
59061,Australian Open,2023-01-16,Grand Slam,Outdoor,Hard,1st Round,5,Rinderknech A.,Watanuki Y.,Watanuki Y.,59,138,3-6 3-6 2-6,3,0
59062,Australian Open,2023-01-16,Grand Slam,Outdoor,Hard,1st Round,5,Van De Zandschulp B.,Ivashka I.,Van De Zandschulp B.,34,73,6-3 3-6 7-5 6-3,4,0
59063,Australian Open,2023-01-16,Grand Slam,Outdoor,Hard,1st Round,5,Barrere G.,Etcheverry T.,Etcheverry T.,83,79,6-3 3-6 4-6 4-6,4,0
59064,Australian Open,2023-01-16,Grand Slam,Outdoor,Hard,1st Round,5,Sinner J.,Edmund K.,Sinner J.,16,581,6-4 6-0 6-2,3,0

### Descripci√≥n de columnas de dataframe

| Columnas | Descripci√≥n |
|----------|----------|
| Tournament | Nombre del torneo
|Date|Fecha del partido
|Series|Categor√≠a del torneo
|Court|Si se juega en interior o exterior
|Surface|Tipo de superficie donde se juega el torneo
|Best of|Al mejor de que sets se juega
|Player_1|Jugador 1
|Player_2|Jugador 2
|Winner|Ganador del partido
|Rank_1|Ranking del jugador 1 al comienzo de ese torneo
|Rank_2|Ranking del jugador 2 al comienzo de ese torneo
|Score|Puntuaci√≥n del partido
|Num_Sets_Played|N√∫mero de sets jugados
|Tie_Breaks|N√∫mero de Tie-Breaks del partido

In [63]:
df_torneos.to_csv(r"../data/final/resultados_final.csv")

## Segundo dataset

In [64]:
dfStats = pd.read_csv("../data/process/estadisticas.csv")
dfStats.head()

,Unnamed: 0,Name,1st Serve,1st Serve Points Won,1st Serve Return Points Won,2nd Serve Points Won,2nd Serve Return Points Won,Aces,Break Points Converted,Break Points Faced,Break Points Opportunities,Break Points Saved,Double Faults,Return Games Played,Return Games Won,Return Points Won,Service Games Played,Service Games Won,Total Points Won,Total Service Points Won
0,0,Novak Djokovic,64%,76%,33%,58%,54%,383,42%,261,491,67%,157,721,29%,41%,741,88%,55%,70%
1,1,Carlos Alcaraz,66%,72%,35%,56%,54%,302,40%,369,691,65%,161,874,32%,42%,881,85%,54%,67%
2,2,Daniil Medvedev,64%,75%,34%,50%,54%,547,46%,419,622,67%,314,922,31%,41%,923,85%,54%,66%
3,3,Jannik Sinner,60%,76%,33%,57%,54%,436,42%,368,615,69%,129,892,29%,41%,901,87%,54%,68%
4,4,Andrey Rublev,61%,75%,30%,51%,52%,616,39%,439,639,63%,156,"1,029",24%,38%,"1,038",84%,52%,66%

Los nombres de las columnas, tal y como ven√≠an de la API, entre cada palabra ven√≠an con un caracter "extra√±o", que no era ni salto de l√≠nea, ni tabulaci√≥n... Por ello, lo primero que he hecho ha sido renombrarlas para poder usarlas mejor

In [65]:
dfStats = dfStats.set_axis(["Unnamed: 0","Player Name", "First serve", "First Serve Points Won", "1st Serve Return Points Won", "2nd Serve Points Won","2nd Serve Return Points Won",
                            "Aces","Break Points Converted", "Break Points Faced", "Break Points Opportunities", "Break Points Saved", "Double Faults",
                            "Return Games Played", "Return Games Won %", "Return Points Won", "Service Games Played", "Service Games Won %", "Total Points Won",
                            "Total Service Points Won"], axis=1)

dfStats.drop(["Unnamed: 0"], axis=1, inplace=True)
dfStats.head()

,Player Name,First serve,First Serve Points Won,1st Serve Return Points Won,2nd Serve Points Won,2nd Serve Return Points Won,Aces,Break Points Converted,Break Points Faced,Break Points Opportunities,Break Points Saved,Double Faults,Return Games Played,Return Games Won %,Return Points Won,Service Games Played,Service Games Won %,Total Points Won,Total Service Points Won
0,Novak Djokovic,64%,76%,33%,58%,54%,383,42%,261,491,67%,157,721,29%,41%,741,88%,55%,70%
1,Carlos Alcaraz,66%,72%,35%,56%,54%,302,40%,369,691,65%,161,874,32%,42%,881,85%,54%,67%
2,Daniil Medvedev,64%,75%,34%,50%,54%,547,46%,419,622,67%,314,922,31%,41%,923,85%,54%,66%
3,Jannik Sinner,60%,76%,33%,57%,54%,436,42%,368,615,69%,129,892,29%,41%,901,87%,54%,68%
4,Andrey Rublev,61%,75%,30%,51%,52%,616,39%,439,639,63%,156,"1,029",24%,38%,"1,038",84%,52%,66%

Al ser la mayor√≠a de las columnas de tipo "object", para poder sacar algo de informaci√≥n las que conten√≠an un % las he convertido a "float"

In [66]:
dfStats['First serve'] = dfStats['First serve'].str.rstrip('%').astype('float') / 100.0
dfStats['First Serve Points Won'] = dfStats['First Serve Points Won'].str.rstrip('%').astype('float') / 100.0
dfStats['2nd Serve Points Won'] = dfStats['2nd Serve Points Won'].str.rstrip('%').astype('float') / 100.0
dfStats['Break Points Converted'] = dfStats['Break Points Converted'].str.rstrip('%').astype('float') / 100.0
dfStats['Break Points Saved'] = dfStats['Break Points Saved'].str.rstrip('%').astype('float') / 100.0
dfStats['Return Games Won %'] = dfStats['Return Games Won %'].str.rstrip('%').astype('float') / 100.0
dfStats['Return Points Won'] = dfStats['Return Points Won'].str.rstrip('%').astype('float') / 100.0
dfStats['Service Games Won %'] = dfStats['Service Games Won %'].str.rstrip('%').astype('float') / 100.0
dfStats['Total Service Points Won'] = dfStats['Total Service Points Won'].str.rstrip('%').astype('float') / 100.0
dfStats['Total Points Won'] = dfStats['Total Points Won'].str.rstrip('%').astype('float') / 100.0
dfStats.head()

,Player Name,First serve,First Serve Points Won,1st Serve Return Points Won,2nd Serve Points Won,2nd Serve Return Points Won,Aces,Break Points Converted,Break Points Faced,Break Points Opportunities,Break Points Saved,Double Faults,Return Games Played,Return Games Won %,Return Points Won,Service Games Played,Service Games Won %,Total Points Won,Total Service Points Won
0,Novak Djokovic,0.64,0.76,33%,0.58,54%,383,0.42,261,491,0.67,157,721,0.29,0.41,741,0.88,0.55,0.70
1,Carlos Alcaraz,0.66,0.72,35%,0.56,54%,302,0.40,369,691,0.65,161,874,0.32,0.42,881,0.85,0.54,0.67
2,Daniil Medvedev,0.64,0.75,34%,0.50,54%,547,0.46,419,622,0.67,314,922,0.31,0.41,923,0.85,0.54,0.66
3,Jannik Sinner,0.60,0.76,33%,0.57,54%,436,0.42,368,615,0.69,129,892,0.29,0.41,901,0.87,0.54,0.68
4,Andrey Rublev,0.61,0.75,30%,0.51,52%,616,0.39,439,639,0.63,156,"1,029",0.24,0.38,"1,038",0.84,0.52,0.66

Al igual que en paso anterior, he convertido el resto de las que conten√≠an un n√∫mero a tipo "int64".

**¬øPor qu√© hacerlo en dos pasos y no en uno solo?** En primer lugar, porque son tipos distintos, y en segundo por no tener una celda gigante

In [67]:
dfStats['Aces'] = dfStats['Aces'].str.replace(",","")
dfStats['Aces'] = dfStats['Aces'].astype("int64")
dfStats['Break Points Faced'] = dfStats['Break Points Faced'].astype("int64")
dfStats['Double Faults'] = dfStats['Double Faults'].astype("int64")
dfStats['Break Points Opportunities'] = dfStats['Break Points Opportunities'].astype("int64")
dfStats['Service Games Played'] = dfStats['Service Games Played'].str.replace(",","")
dfStats['Service Games Played'] = dfStats['Service Games Played'].astype("int64")
dfStats['Return Games Played'] = dfStats['Return Games Played'].str.replace(",","")
dfStats['Return Games Played'] = dfStats['Return Games Played'].astype("int64")
dfStats.head()

,Player Name,First serve,First Serve Points Won,1st Serve Return Points Won,2nd Serve Points Won,2nd Serve Return Points Won,Aces,Break Points Converted,Break Points Faced,Break Points Opportunities,Break Points Saved,Double Faults,Return Games Played,Return Games Won %,Return Points Won,Service Games Played,Service Games Won %,Total Points Won,Total Service Points Won
0,Novak Djokovic,0.64,0.76,33%,0.58,54%,383,0.42,261,491,0.67,157,721,0.29,0.41,741,0.88,0.55,0.70
1,Carlos Alcaraz,0.66,0.72,35%,0.56,54%,302,0.40,369,691,0.65,161,874,0.32,0.42,881,0.85,0.54,0.67
2,Daniil Medvedev,0.64,0.75,34%,0.50,54%,547,0.46,419,622,0.67,314,922,0.31,0.41,923,0.85,0.54,0.66
3,Jannik Sinner,0.60,0.76,33%,0.57,54%,436,0.42,368,615,0.69,129,892,0.29,0.41,901,0.87,0.54,0.68
4,Andrey Rublev,0.61,0.75,30%,0.51,52%,616,0.39,439,639,0.63,156,1029,0.24,0.38,1038,0.84,0.52,0.66

Como a pesar de que ven√≠a mucha informaci√≥n, me faltaban algunos datos he a√±adido columnas que informan de: 
- Puntos de break ganados ("BreakPoints Won")
- Puntos de break salvados ("BreakPoints Saved")
- Juegos al servicio ganados ("Service Games Won")
- Juegos al resto ganados ("Return Games Won")

In [68]:
dfStats["BreakPoints Won"] = (dfStats["Break Points Faced"] * dfStats["Break Points Converted"]).round()
dfStats["BreakPoints Saved"] = (dfStats["Break Points Opportunities"] * dfStats["Break Points Saved"]).round()
dfStats["Return Games Won"] = (dfStats["Return Games Played"] * dfStats["Return Games Won %"]).round()
dfStats["Service Games Won"] = (dfStats["Service Games Played"] * dfStats["Service Games Won %"]).round()
dfStats.head()

,Player Name,First serve,First Serve Points Won,1st Serve Return Points Won,2nd Serve Points Won,2nd Serve Return Points Won,Aces,Break Points Converted,Break Points Faced,Break Points Opportunities,Break Points Saved,Double Faults,Return Games Played,Return Games Won %,Return Points Won,Service Games Played,Service Games Won %,Total Points Won,Total Service Points Won,BreakPoints Won,BreakPoints Saved,Return Games Won,Service Games Won
0,Novak Djokovic,0.64,0.76,33%,0.58,54%,383,0.42,261,491,0.67,157,721,0.29,0.41,741,0.88,0.55,0.70,110.0,329.0,209.0,652.0
1,Carlos Alcaraz,0.66,0.72,35%,0.56,54%,302,0.40,369,691,0.65,161,874,0.32,0.42,881,0.85,0.54,0.67,148.0,449.0,280.0,749.0
2,Daniil Medvedev,0.64,0.75,34%,0.50,54%,547,0.46,419,622,0.67,314,922,0.31,0.41,923,0.85,0.54,0.66,193.0,417.0,286.0,785.0
3,Jannik Sinner,0.60,0.76,33%,0.57,54%,436,0.42,368,615,0.69,129,892,0.29,0.41,901,0.87,0.54,0.68,155.0,424.0,259.0,784.0
4,Andrey Rublev,0.61,0.75,30%,0.51,52%,616,0.39,439,639,0.63,156,1029,0.24,0.38,1038,0.84,0.52,0.66,171.0,403.0,247.0,872.0

### Descripci√≥n de columnas de dataframe

| Columnas | Descripci√≥n |
|----------|----------|
| First Serve | Porcentaje de primeros servicios metidos
|First Serve Points Won|Puntos ganados (%) con el primer servicio
|1st Serve Return Points Won|Puntos ganados (%) con el primer servicio (al resto)
|2nd Serve Points Won|Puntos ganados (%) con el segundo servicio
|2nd Serve Return Points Won|Puntos ganados (%) con el segundo servicio (al resto)
|Aces|Saques directos
|Break Points Converted|Puntos de Break (%) ganados (al resto)
|Break Points Faced|Puntos de Break jugados (al resto)
|Break Points Opportunities|Puntos de Break jugados (al servicio)
|Break Points Saved|Puntos de Break salvados (al servicio) (%)
|Double Faults|N√∫mero de dobles faltas
|Return Games Played|Juegos al resto jugados
|Return Games Won %|Juegos al resto ganados (%)
|Return Points Won|Puntos ganados al resto (%)
|Service Games Played|Juegos al servicio jugados
|Service Games Won %|Juegos al servicio ganados (%)
|Total Points Won|Puntos totales ganados (%)
|Service Points Won|Puntos ganados al servicio (%)
|BreakPoints Won|N√∫mero de puntos de break ganados (al resto)
|BreakPoints Saved|N√∫mero de puntos de break ganados (al servicio)
|Return Games Won|N√∫mero de juegos al resto ganados
|Service Games Won|N√∫mero de juegos al servicio ganados

In [69]:
dfStats.to_csv(r"../data/final/estadisticas_final.csv")

<hr>
<div>
    <a href="./1_Carga_Y_PrimerAnalisis.ipynb">
        <button style="float: left;">&#8592; 1.Carga y primer an√°lisis</button>
    </a>
    <a href="./3_An√°lisis.ipynb">
        <button style="float: right;">3.An√°lisis &#8594;</button>
    </a>
</div>
<hr>